<div id="menu">
    <ul>
        <li><a href="/">Introduction</a></li>
        <li><a href="/exam">Exam</a></li>
        <li><a href="/library">Library</a></li>
        <li><a href="/add">Add</a></li>
    </ul>
</div>